body {
    font-family: "Open Sans",sans-serif;
   }
   * {
     box-sizing: border-box;
   }
   .bg-img {
    /* The image used */
    background: url("bg.jpg");
    width: 100%;
    min-height: 600px;
    background-position:  top;
    /* Center and scale the image nicely */
   
    background-repeat: no-repeat;
    background-size:cover;
    border-bottom-left-radius: 20%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    /* Needed to position the navbar */
    position: relative;
  }
  @media (max-width: 576px){ 
      .bg-img{
          visibility: hidden;
      }
   }
   .badge {
    border-radius:50px;
    width: 60px;
    height: 30px;
    display: block;
    position: absolute;
    background: rgba(31,206,255,1);
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -15px;
    right: 20px;
    transition: all .3s;
  }
  .newyork {
    background: linear-gradient(rgba(42, 42, 44, 0.5), rgba(42, 42, 44, 0.5)),
      url("https://st2.depositphotos.com/3200101/6551/i/450/depositphotos_65519611-stock-photo-smiling-businessman-standing-and-using.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
    background-size: cover;
  }
 
  .carousel-control-prev-icon {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaVgk6uz5CCTdVprPjsAwiHcLt6fmpMLNbuQ&usqp=CAU");
}
.carousel-dark .carousel-indicators [data-bs-target] {
  border-color: rgb(112, 173, 253);
  background-color: rgb(250, 250, 250);
}
.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 5px;
  height: 5px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  cursor: pointer;
  border-radius: 100%;
  border:5px solid rgb(112, 173, 253);
  opacity: .5;
  transition: opacity .6s ease;
}
.carousel-indicators .active {
  opacity: 1;
}
.reviewimg {
  border-radius: 100%;
  height: 60px;
}
.btn-store {
  color: #f8f5f5;
  min-width:180px;
  padding: 10px 10px !important;
  border-color: #dddddd !important;
}


.btn-store .btn-label, 
.btn-store .btn-caption {
  display: block;
  text-align: left;
  line-height: 1;
}
.items {
  width: 90%;
  margin: 0px auto;
  margin-top: 100px
}

.slick-slide {
  margin: 10px
}

.slick-slide img {
  width: 100%;
  border: 0px solid #fff
}
