body {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}

.bg-img {
  /* The image used */
  background: linear-gradient(rgba(44, 77, 114, 0.7), rgba(44, 77, 114, 0.7)),
    url("https://static.toiimg.com/thumb/msid-66784868,width-1070,height-580,imgsize-57672,resizemode-6,overlay-toi_sw,pt-32,y_pad-40/photo.jpg");

  min-height: 480px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}
.nav {
  color: black;
}
.nav-link:hover {
  background-color: dimgrey;
  color: black;
}
.nav-link {
  color: black;
}
.search {
  position: relative;
}

.search input {
  height: 60px;
  text-indent: 30px;
  border: 2px solid #d6d4d4;
}

.search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px;
}
.calendar {
  position: relative;
}

.calendar input {
  height: 60px;
  text-indent: 30px;
  border: 2px solid #d6d4d4;
}

.calendar .fa-calendar {
  position: absolute;
  top: 20px;
  left: 16px;
}
#btn {
  height: 60px;
}
.newyork {
  background: linear-gradient(rgba(42, 42, 44, 0.5), rgba(42, 42, 44, 0.5)),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ35u1RllKyTG9Tn1qSKlMcFZIr7rDoBzpeLw&usqp=CAU");
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  background-size: cover;
}
.paris{
  background: linear-gradient(rgba(42, 42, 44, 0.5), rgba(42, 42, 44, 0.5)),
    url("https://i.pinimg.com/originals/bd/f8/07/bdf807137282243b7c2c7108b5de7497.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  background-size: cover;
}
.london{
  background: linear-gradient(rgba(42, 42, 44, 0.5), rgba(42, 42, 44, 0.5)),
    url("https://i.pinimg.com/originals/8a/dd/58/8add58729508546c36de44fc2245b675.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  background-size: cover;
}
.tokyo{
  background: linear-gradient(rgba(42, 42, 44, 0.5), rgba(42, 42, 44, 0.5)),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSS7u1l2eeyzZOfCGp7S9tOQ_rQC1HEoo_X4Q&usqp=CAU");
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  background-size: cover;
}
.bg-color {
  background-color: rgba(118, 118, 255, 0.5);
  border-radius: 100%;
  padding: 20px;
}
.reviewimg {
  border-radius: 100%;
  height: 60px;
}
